{
  "rubySingleQuote": false,
  "rubyArrayLiteral": false,
  "trailingComma": "all",
  "plugins": [
    "@prettier/plugin-ruby",
    "prettier-plugin-organize-imports",
    "prettier-plugin-tailwindcss"
  ]
}
