<h1></h1>

<script>
  // Delayed render to make sure JS is working
  window.addEventListener('load', () => {
    setTimeout(() => {
      document.querySelector('h1').innerText = 'Hello, World!';
    }, 200);
  });
</script>
