@tailwind base;
@tailwind components;
@tailwind utilities;

/* Spinning logo */

@keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.Logo g {
  transform-origin: 50% 50%;
  animation: rotate 5000ms linear infinite;
  animation-play-state: paused;
}
.Logo.Logo--animating g {
  animation-play-state: running;
}
.Logo g:nth-child(1) {
  animation-duration: 2000ms;
}
.Logo g:nth-child(2) {
  animation-duration: 2500ms;
}
.Logo g:nth-child(3) {
  animation-duration: 3000ms;
}
.Logo g:nth-child(4) {
  animation-duration: 3500ms;
}
